<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <filter>
        <filter-name>SystemFilter</filter-name>
        <filter-class>com.meteorite.core.web.filter.SystemFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SystemFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.meteorite.core.web.listener.SystemContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>MetaRest</servlet-name>
        <servlet-class>com.meteorite.core.web.rest.MetaRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayoutRest</servlet-name>
        <servlet-class>com.meteorite.core.web.rest.LayoutRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DictRest</servlet-name>
        <servlet-class>com.meteorite.core.web.rest.DictRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TreeRest</servlet-name>
        <servlet-class>com.meteorite.core.web.rest.TreeRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemAction</servlet-name>
        <servlet-class>com.meteorite.core.web.action.SystemAction</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>com.meteorite.core.web.action.LoginAction</servlet-class>
    </servlet>

    <!--<servlet>
        <servlet-name>RestServlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                com.meteorite
            </param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.scanning.recursive</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>MetaRest</servlet-name>
        <url-pattern>/meta/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayoutRest</servlet-name>
        <url-pattern>/layout/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DictRest</servlet-name>
        <url-pattern>/dict/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreeRest</servlet-name>
        <url-pattern>/tree/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SystemAction</servlet-name>
        <url-pattern>/getSystemInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>com.meteorite.core.web.action.FreeMarkerAction</servlet-class>
        <!-- FreemarkerServlet  设置: -->
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ContentType</param-name>
            <param-value>text/html; charset=UTF-8</param-value>
            <!--    强制使用  UTF-8 作为输出编码格式!  -->
        </init-param>
        <!-- FreeMarker 设置: -->
        <init-param>
            <param-name>template_update_delay</param-name>
            <param-value>0</param-value>
            <!--  0  只对开发使用!  否则使用大一点的值. -->
        </init-param>
        <init-param>
            <param-name>default_encoding</param-name>
            <param-value>UTF-8</param-value>
            <!--  模板文件的编码方式. -->
        </init-param>
        <init-param>
            <param-name>number_format</param-name>
            <param-value>0.##########</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>*.ftl</url-pattern>
    </servlet-mapping>

    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>FreeMarker MVC Views</web-resource-name>
            <url-pattern>*.ftl</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            &lt;!&ndash;   不允许任何人访问这里  &ndash;&gt;
        </auth-constraint>
    </security-constraint>-->
</web-app>
