<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <filter>
        <filter-name>SystemFilter</filter-name>
        <filter-class>com.meteorite.core.web.filter.SystemFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SystemFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.meteorite.core.web.listener.SystemContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>MetaRest</servlet-name>
        <servlet-class>com.meteorite.core.web.rest.MetaRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayoutRest</servlet-name>
        <servlet-class>com.meteorite.core.web.rest.LayoutRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DictRest</servlet-name>
        <servlet-class>com.meteorite.core.web.rest.DictRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemAction</servlet-name>
        <servlet-class>com.meteorite.core.web.action.SystemAction</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MetaRest</servlet-name>
        <url-pattern>/meta/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayoutRest</servlet-name>
        <url-pattern>/layout/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DictRest</servlet-name>
        <url-pattern>/dict/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SystemAction</servlet-name>
        <url-pattern>/getSystemInfo</url-pattern>
    </servlet-mapping>
</web-app>
