#window-close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6 6 4 6;
}
#window-min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6 6 4 6;
}
#window-max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6 6 4 6;
}
#window-close:hover {
    -fx-background-image: url("images/window-close-over.png");
}
#window-min:hover {
    -fx-background-image: url("images/window-min-over.png");
}
#window-max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}

#banner {
    -fx-padding: 10px;
    -fx-background-image: url("images/top-bar.png");
    -fx-background-size: cover;
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
}

/**
* Search Box
*/
.search-box-icon {
    -fx-shape: "M10.728,9.893c0.889-1.081,1.375-2.435,1.375-3.842C12.103,2.714,9.388,0,6.051,0C2.715,0,0,2.714,0,6.051c0,3.338,2.715,6.052,6.051,6.052c0.954,0,1.898-0.227,2.744-0.656l3.479,3.478l1.743-1.742L10.728,9.893z M6.051,2.484c1.966,0,3.566,1.602,3.566,3.566c0,1.968-1.6,3.567-3.566,3.567c-1.967,0-3.566-1.6-3.566-3.567C2.485,4.086,4.084,2.484,6.051,2.484z";
    -fx-scale-shape: false;
    -fx-background-color: #aaaaaa;
}
.search-box {
    -fx-font-size: 16px;
    -fx-text-fill: #363636;
    -fx-background-radius: 15, 14;
    -fx-padding: 0 0 0 30;
}
.search-box:focused {
    -fx-background-radius: 15,14,16,14;
}
.search-clear-button {
    -fx-shape: "M9.521,0.083c-5.212,0-9.438,4.244-9.438,9.479c0,5.234,4.225,9.479,9.438,9.479c5.212,0,9.437-4.244,9.437-9.479C18.958,4.327,14.733,0.083,9.521,0.083z M13.91,13.981c-0.367,0.369-0.963,0.369-1.329,0l-3.019-3.03l-3.019,3.03c-0.367,0.369-0.962,0.369-1.329,0c-0.367-0.368-0.366-0.965,0.001-1.334l3.018-3.031L5.216,6.585C4.849,6.217,4.849,5.618,5.217,5.25c0.366-0.369,0.961-0.368,1.328,0l3.018,3.031l3.019-3.031c0.366-0.368,0.961-0.369,1.328,0c0.366,0.368,0.366,0.967,0,1.335l-3.019,3.031l3.02,3.031C14.276,13.017,14.276,13.613,13.91,13.981z";
    -fx-scale-shape: false;
    -fx-background-color: #aaaaaa;
    -fx-padding: 9.5px;
}

/* *****************************************************************************
   * POPOVERS
   ****************************************************************************/
.popover {
    -fx-padding: 43 7 7 7;
}
.popover-frame {
    -fx-border-image-source: url("images/popover-empty.png");
    -fx-border-image-slice: 78 50 60 120 fill;
    -fx-border-image-width: 78 50 60 120;
    -fx-border-image-insets: -32 -37 -47 -37;
}
.popover.right-tooth .popover-frame {
    -fx-border-image-slice: 78 120 60 50 fill;
    -fx-border-image-width: 78 120 60 50;
}
.popover-title {
    /*-fx-font-family: "Bree serif"; */
    -fx-font-family: "Source Sans Pro Light";
    -fx-font-size: 20px;
    /*   -fx-text-fill: white;
       -fx-font-weight: bold; */
}
.popover .button {
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 16px;
}
.popover-tree-list-cell {
    -fx-background-color: white;
    /*  -fx-border-color: transparent transparent #dfdfdf transparent; */
    -fx-padding: 0 30 0 12;
    /*-fx-font-family: "Bree Serif"; */
    -fx-font-size: 15px;
    /*   -fx-font-weight: bold; */
    -fx-text-fill: #363636;
}
#PopoverBackground {
    -fx-background-color: white;
}
.search-result-cell {
    -fx-background-color: white;
    -fx-padding: 4 30 4 45;
}
.search-result-cell:selected {
    /*   -fx-background-color: white, #eeeeee; */
    -fx-background-insets: 0, 0 0 0 40;
}
.search-result-cell .title {
    /*-fx-font-family: "Bree Serif"; */
    -fx-font-size: 15px;
    /*  -fx-font-weight: bold; */
    -fx-text-fill: #363636;
}
.search-result-cell .details {
    -fx-font-size: 13px;
    -fx-text-fill: #444444;
}
.search-icon-pane .label {
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-font-size: 16px;
    -fx-background-color: #515151;
    -fx-background-radius: 3px;
    -fx-text-fill: white;
    -fx-alignment: center;
}
.sample-tree-list-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #dfdfdf transparent;
    -fx-padding: 0 30 0 20;
    -fx-font-size: 15px;
    -fx-text-fill: #363636;
    -fx-graphic-text-gap: 20px;
}

/* *****************************************************************************
   * POPOVERS
   ****************************************************************************/
.popover-tree-list-cell {
    -fx-background-color: white;
    -fx-font-size: 15px;
}