/*
 * 使用font-awesome字体图标
 */
.fa:before {
    speak:none;
    font-style:normal;
    font-weight:normal !important;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    color:inherit;
    position:relative;
    font-size:1em;
    left:-3px; top:2px;
}
li .fa:before {
    position:relative;
    width:24px; height:100%;
    top:2px;
    line-height:0 !important;
    margin-right:4px;
}
li .fa.big:before {
    font-size: 1.5em;
}

footer>a.fa:not(.button):before {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 25px;
    margin: auto;
    width: 100%;
}

/*
 * 使用iconfont字体图标
 */
.iconfont:before {
    speak:none;
    font-style:normal;
    font-weight:normal !important;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    color:inherit;
    position:relative;
    font-size:1em;
    left:-3px; top:2px;
}
li .iconfont:before {
    position:relative;
    width:24px; height:100%;
    top:2px;
    line-height:0 !important;
    margin-right:4px;
}
li .iconfont.big:before {
    font-size: 1.5em;
}

footer>a.iconfont:not(.button):before {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 25px;
    margin: auto;
    width: 100%;
}

/*
 * 使用bootstrap字体图标
 */
.glyphicon:before {
    speak:none;
    font-style:normal;
    font-weight:normal !important;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    color:inherit;
    position:relative;
    font-size:1em;
    left:-3px; top:2px;
}
li .glyphicon:before {
    position:relative;
    width:24px; height:100%;
    top:2px;
    line-height:0 !important;
    margin-right:4px;
}
li .glyphicon.big:before {
    font-size: 1.5em;
    top: 7px;
}

footer>a.glyphicon:not(.button):before {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 25px;
    margin: auto;
    width: 100%;
}

.panel {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ccc;
    overflow: hidden;
}
.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.list > li > a:after {
    right: 20px;
}

.list li {
    margin-right: 10px;
}

.input-group {
    margin-top: .2em;
    padding: 0;
}
.input-group-addon {
    background: none;
    border: none;
}

table {
    width: 100%;
}

/* 分类卡片 */
.category_card {
    margin: 10px 0;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1);
    transform: translate(0px, 0px) translateZ(0px);
    padding: 15px 10px;
}
.category_card tr a {
    display: block;
    border-right: 1px solid #ccc;
    color: #444;
    font-weight: 600;
}
.category_card tr:first-child td:last-child a {
    border-right: none;
}
.category_card tr:last-child td:last-child a {
    border-right: none;
}
.category_card tr:first-child td {
    padding: 0 0 10px 0;
    width: 25%;
    overflow: hidden;
}
.category_card tr:last-child td {
    padding: 10px 0 0 0;
    border-top: 1px solid #ccc;
}
.category_card .more {
    color: #004E92;
}
.category_card .important {
    color: darkorange;
}

/* list 两行 */
#afui ul.list p {
    color: #A6A6A6;
    font-size: 12px;
}
#afui ul.list a p {
    margin: 5px 0 0 25px;
}
/* list 两行带图片 */
#afui ul.list.img li {
    height: 90px;
}
#afui ul.list.img img {
    width: 80px;
    height: 50px;
    position: absolute;
}
#afui ul.list.img a {
    padding-left: 100px;
}
#afui ul.list.img a p {
    margin-left: 0;
}

/* 航班动态 */
#hbdtPanel h3 {
    font-size: 18px;
}
#hbdtPanel h3 span {
    color: darkorange;
}

#hbdtPanel .inset i {
    font-size: 20px;
    color: #3994db;
    margin-right: 10px;
}
#hbdtPanel .inset a {
    margin: -30px -20px -30px -10px;
}

#days {
    margin-top: 25px;
    text-align: center;
    height: 100px;
}
#days li{

}

.yesterday, .today, .tomorrow {
    width: 32%;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #b5b5b5;
    list-style: none;
    text-align: center;
}
.yesterday {
    float: left;
}
.tomorrow {
    float: right;
}
.yesterday li:last-child, .today li:last-child, .tomorrow li:last-child {
    padding: 5px 0;
    color: gray;
}
.today li:last-child {
    background-color: #1e90ce;
    color: #fff;
}

.day {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #b5b5b5;
}

#btnQuery {
    background-color: #1e90ce;
}

/* 查询列表 */
#queryListPanel table {
    width: 100%;
}

#queryListPanel table h5 {
    margin-top: 8px;
}
#queryListPanel table h5 i {
    margin-right: 3px;
    font-size: 18px;
    color: #3994db;
}
#queryListPanel table div {
    text-align: justify;
}
#queryListPanel .split_line {
    margin: 0 20px;
    display: inline-block;
}

#queryListPanel td:first-child {
    width: 30%
}
#queryListPanel td:nth-child(2) {
    width: 50%
}
#queryListPanel td:last-child {
    width: 20%;
    text-align: right;
    padding-right: 5px;
}