#window-close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6 6 4 6;
}
#window-min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6 6 4 6;
}
#window-max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6 6 4 6;
}
#window-close:hover {
    -fx-background-image: url("images/window-close-over.png");
}
#window-min:hover {
    -fx-background-image: url("images/window-min-over.png");
}
#window-max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}

#banner {
    -fx-padding: 10px;
    -fx-background-image: url("images/top-bar.png");
    -fx-background-size: cover;
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
}