
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hangbandongtai:before { content: "\343d"; }

.icon-gerenzhongxin:before { content: "\e600"; }

.icon-gongwenbao:before { content: "\e632"; }

.icon-jiaohuan:before { content: "\e628"; }

.icon-jihuarenwu:before { content: "\f006e"; }

.icon-jiaoxuelou:before { content: "\e60c"; }

.icon-jilu:before { content: "\e661"; }

.icon-guanzhu:before { content: "\e627"; }

.icon-plane:before { content: "\e604"; }

.icon-theplaneticket:before { content: "\e63d"; }

.icon-guojijipiao:before { content: "\f0001"; }

.icon-qing:before { content: "\f0205"; }

.icon-duoyun:before { content: "\f0206"; }

.icon-yun:before { content: "\f0207"; }

.icon-wuqi:before { content: "\f0208"; }

.icon-yu:before { content: "\f0209"; }

.icon-xiaoyu:before { content: "\f020a"; }

.icon-leidian:before { content: "\f020b"; }

.icon-feng:before { content: "\f020c"; }

.icon-nongyun:before { content: "\f020d"; }

.icon-wanshang:before { content: "\f020e"; }

.icon-wuyun:before { content: "\f020f"; }

.icon-lieri:before { content: "\f0210"; }

.icon-shachen:before { content: "\f0271"; }

.icon-dongyu:before { content: "\f0272"; }

.icon-fuchen:before { content: "\f0273"; }

.icon-yujiaxue:before { content: "\f0274"; }

.icon-daxue:before { content: "\f0275"; }

.icon-zhongxue:before { content: "\f0276"; }

.icon-xiaoxue:before { content: "\f0277"; }

.icon-dayu:before { content: "\f0278"; }

.icon-zhuantui:before { content: "\f0201"; }

.icon-jinbi:before { content: "\f01f8"; }

.icon-hotel:before { content: "\e64d"; }

.icon-hangban:before { content: "\e664"; }

.icon-taix:before { content: "\f00be"; }

.icon-jiejifuwu:before { content: "\e607"; }

.icon-jisuanqi1:before { content: "\e648"; }

.icon-baoxian:before { content: "\e601"; }

.icon-anquanbaozhang:before { content: "\e622"; }

.icon-feijipiao:before { content: "\e627"; }

