/* 机票 */
#airTicket table {
    width: 100%;
    text-align: center;
}
#airTicket h5 {
    margin: 0;
    padding: 10px;
    color: #777;
}
#airTicket h3 {
    margin: 0;
    padding: 10px;
    color: #000;
    font-weight: bold;
}
#startLocation {
    text-align: left;
}
#endLocation {
    text-align: right;
}
/* 出发日期*/
#airTicket ul {
    padding-left: 20px;
    list-style: none;
}
#airTicket ul li {
    padding-top: 6px;
}
#airTicket ul li:first-child {
    font-size: 14px;
    color: #777;
}
#airTicket ul li:nth-child(2) {
    font-size: 26px;
    color: #000;
}
#airTicket ul li:last-child {
    font-size: 12px;
    color: #f0ad4e;
}
#airTicket a {
    font-size: 14px;
}
#airTicket a span {
    font-size: 16px;
    margin-right: 10px;
}
/* 交换 */
#changeLocation {
    padding: 0 10px;
}
#changeLocation i {
    font-size: 30px;color: #0000ff
}
/* 搜索机场 */
#panel_Location ul span {
    font-size: .8em;
}
#afui #panel_Location .input-group {
    margin-top: .2em;
    padding: 0;
}

/* 文章 */
.article {

}
.article p {
    text-indent: 2em;
}
.article ol {
    padding-left: 40px;
}

#panel_searchResult h3 {
    text-align: center;
    color: #000000;
}
#panel_searchResult ul li div:nth-child(2) {
    min-height: 25px;
}
#panel_searchResult ul li div:first-child {
    height: 30px;
}
#panel_searchResult .time {
    font-size: 17px;
    color: #000000;
}
#panel_searchResult .price {
    float: right;
    font-size: 19px;
    color: #f4ae46;
}
#panel_searchResult .hangban {
    font-size: 15px;
    color: #000000;
}
#panel_searchResult .discount {
    float: right;
    font-size: 15px;
    color: #000000;
}

.gray_15 {
    color: #989999;
    font-size: 15px;
}